@model IEnumerable<FInal_Project.Models.UserQuestion>


<div class="col-md-6 question-post">
    @foreach (var item in Model)
    {
        <div class="question-body">
            <h1><i class="fa fa-hand-o-right"></i>@Html.DisplayFor(model => item.QuestionHeader)</h1>
            <p>by <a href="#">ali ahmed</a></p>
            <p>@Html.DisplayFor(model => item.QuestionDate)</p>
            <p>@Html.DisplayFor(model => item.QuestionText).@Html.ActionLink("ViewQuestion", "../Question/ViewQuestion", new { id = item.QuestionId })</p>


            <div class="button-area">
                <div class="button-like">
                    <button type="button" class="btn" onclick="location.href='@Url.Action("Like","Action",new {id=item.QuestionId })'"> <i class="fa fa-thumbs-up"></i> (@Html.DisplayFor(model => item.QuestionRating)) | Like</button>
                    <button type="button" class="btn" onclick="location.href='@Url.Action("Unlike","Action",new { id = item.QuestionId})'"><i class="fa fa-thumbs-down"></i>(@Html.DisplayFor(model => item.Unlike)) Unlike</button>
                    <button type="button" class="btn"><i class="fa fa-comment"></i> Answers</button>
                    <button type="button" class="btn"><i class="fa fa-comment"></i> Share</button>
                </div>
            </div>
        </div>


    }
    </div>


