@model FInal_Project.Models.UserQuestion
@using FInal_Project.Models



@{
    ViewBag.Title = "AskQuestion";
}
 
    @{
        List<Category> cList = (List<Category>)ViewBag.Categories;
        List<SelectListItem> cats = new List<SelectListItem>();
        foreach (Category cat in cList)
        {
            SelectListItem item = new SelectListItem()
            {
                Text = cat.CategoryName,
                Value = cat.CategoryId.ToString()
            };
            cats.Add(item);
        }

    }

<head>
    <link rel="stylesheet" href="~/css/bootstrap.css" type="text/css" />
</head>
<br />
<br />
<br />
<br />
<div class="col-md-2"></div>
<div class="col-md-8">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>User Question</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.QuestionHeader, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.QuestionHeader, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.QuestionHeader, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.QuestionText, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.QuestionText, 15, 100, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.QuestionText, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Category Name:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Category", cats, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.QuestionText, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit Question" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>
<div class="col-md-2"></div>



<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
